asn1crypto==0.24.0
astroid==2.2.5
azure-common==1.1.18
azure-storage-common==1.4.0
azure-storage-file==1.4.0
certifi==2022.12.7
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
ffprobe==0.5
Flask==1.0.2
Flask-Cors==3.0.7
idna==2.8
imutils==0.5.2
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.16.2
pbr==5.1.3
pycparser==2.19
pydub==0.23.1
pylint==2.3.1
python-dateutil==2.8.0
python-speech-features==0.6
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
stevedore==1.30.1
typed-ast==1.3.1
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.1
virtualenvwrapper==4.8.4
Werkzeug==0.15.0
wrapt==1.11.1
